<tr>
  <td><%= index_in_page order_counter, params[:page], Settings.per_category %></td>
  <td><%= order.user_name %></td>
  <td><%= order.status %></td>
  <td><%= l order.created_at, format: :format_date %></td>
  <td><%= number_to_currency order.total_price %></td>
  <td class="text-center"><%= link_to t("orders.see_detail"), "#" %></td>
</tr>
