<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 product_recent">
  <div class="my-list">
    <div class="product_top_img">
      <%= image_tag product_recent.picture_url||default.png %>
      <div>
        <h3><%= product_recent.other_features %></h3>
      </div>
    </div>
    <div class="product_top">
      <span><%= product_recent.name %></span><br>
      <span class="pull-right text-danger"><%= number_to_currency product_recent.price %></span>
    </div>
    <div class="detail">
      <h5><b><%= product_recent.name %></b></h5>
      <div>
        <%= image_tag product_recent.picture.url||default.png %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="addcart btn btn-info" data-id="<%= product_recent.id %>"><%= t ".add_to_cart" %></a>
        </div>
        <div class="col-md-6">
          <%= link_to t(".detail_product"), product_recent, class: "btn btn-success btn-product" %></div>
      </div>
    </div>
  </div>
</div>
