  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </li>
        <li>
          <a href="#" class=""><i class="fa fa-dashboard fa-fw"></i> <%= t ".dashboard" %></a>
        </li>

        <li>
          <%= link_to t(".manager_user"), backend_users_path, class: "fa fa-user" %>
        </li>
         <li>
          <%= link_to t(".manager_category"), backend_categories_path, class: "fa fa-user" %>
        </li>
         <li>
          <%= link_to t(".manager_product"), backend_products_path, class: "fa fa-user" %>
        </li>
         <li>
          <%= link_to t(".manager_order"), backend_orders_path, class: "fa fa-user" %>
        </li>
         <li>
          <%= link_to t(".manager_request"), backend_requests_path, class: "fa fa-user" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
