<div class="row">
  <div class="col-sm-5">
    <p>
      <%= t".title_suggest" %>
      <%= link_to t(".here"), new_suggest_path %>
    </p>
    <p><span class="glyphicon glyphicon-map-marker"></span><%= t "t_address" %></p>
    <p><span class="glyphicon glyphicon-phone"></span><%= t "t_phone" %></p>
    <p><span class="glyphicon glyphicon-envelope"></span><%= t "t_mail" %></p>
  </div>
</div>
