<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= t ".my_order" %></h4>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><%= t ".order_code" %></th>
            <th><%= t ".receiver_name" %></th>
            <th><%= t ".receiver_address" %></th>
            <th><%= t ".total_price" %></th>
            <th><%= t ".date" %></th>
            <th><%= t ".status" %></th>
            <th><%= t ".delete" %></th>
          </thead>
          <tbody>
            <% @orders.each do|bill| %>
            <tr>
              <td><%= link_to t("##{bill.id}"), order_path(bill.id) %></td>
              <td><%= bill.receiver_name %></td>
              <td><%= bill.receiver_address %></td>
              <td class="text-danger"><%= number_to_currency bill.total_price %></td>
              <td><%= created_at_format bill.created_at %></td>
              <td class="text-primary"><%= bill.status %></td>
              <td>
                <% if bill.pending? %>
                  <%= link_to t(".delete"), bill , method: :delete,data: {confirm: t("sure")}, class: "text-danger" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
        <div>
        <%= will_paginate @oders %>
        </div>
      </div>
    </div>
  </div>
</div>
