<div class="container">
  <div class="row view_cart">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t ".product" %></th>
            <th><%= t ".quantity" %></th>
            <th class="text-center"><%= t ".price" %></th>
            <th class="text-center"><%= t ".total" %></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "cart", collection: @carts %>
          <tr>
            <% @totals = 0 %>
            <% @carts.each do |v| %>
              <% @totals = @totals.to_f + v["total_price"].to_f %>
            <% end %>
            <td id="notice">   </td>
            <td>   </td>
            <td>   </td>
            <td><h3><%= t ".total" %></h3></td>
            <td class="text-right"><h3><strong class="total_price_cart"><%= number_to_currency(@totals) %></strong></h3></td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <%= link_to root_path, :class => 'btn btn-default' do %>
                <span class="glyphicon glyphicon-shopping-cart"></span> <%= t ".continue_shopping" %>
              <% end %>
            </td>
            <td>
              <button type="button" class="btn btn-success">
                <%= t ".checkout" %> <span class="glyphicon glyphicon-play"></span>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= javascript_include_tag('fomartnumber.js') %>
