<section class="list-category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h2><%= t "category.list" %></h2>
      </div>
      <div class="col-md-8 search-form-category">
        <%= form_tag backend_categories_path, method: :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag t("category.search") %>
          </p>
        <% end %>
      </div>
    </div>
    <table class="table table-bordered table-category">
      <thead>
        <tr>
          <th><%= t "category.no" %></th>
          <th><%= t "category.name" %></th>
          <th><%= t "category.parent" %></th>
          <th colspan="2" class="text-center"><%= t "category.action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
    <div class="btn-create-category">
      <%= link_to t("category.button"), new_backend_category_path, class: "btn btn-success", role: :button %>
    </div>
    <%= will_paginate %>
  </div>
</section>
