<section class="list-category">
  <div class="container-fluid">
    <h2><%= t "category.list" %></h2>
    <table class="table table-bordered table-category">
      <thead>
        <tr>
          <th><%= t "category.id" %></th>
          <th><%= t "category.name" %></th>
          <th><%= t "category.parent" %></th>
          <th colspan="2" class="text-center"><%= t "category.action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
    <div class="btn-create-category">
      <%= link_to t("category.button"), new_backend_category_path, class: "btn btn-success", role: :button %>
    </div>
    <%= will_paginate %>
  </div>
</section>
