  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
            <div class="box">
              <div class="tab-pane" id="#">
                <a href="#" data-toggle="modal" data-target="#<%= @images_one.id %>">
                <%= image_tag @images_one.photo_url||default.png %>
                </a>
              </div>
              <div class="pane_image_to">
                <% @images.each do |p| %>
                <a href="#" data-toggle="modal" data-target="#<%= p.id %>">
                  <%= image_tag p.photo_url||default.png, style: "max-width: 100px; max-height: 100px" %>
                </a>
                <% end %>
              </div>
              <% @images.each do |p| %>
                <div class="modal fade" id="<%= p.id %>" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                      <div class="modal-body">
                        <%= image_tag p.photo_url %>
                      </div>
                        <div class="col-md-12 description_image">
                          <h4><%= p.description %></h4>
                        </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.name %></h3>
            <h4 class="product-title"><%= link_to @product.category_name, "#" %></h4>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="text-warning">41 reviews</span>
            </div>
            <h4 class="text-secondary">Current price: <span class="text-danger"><%= number_to_currency @product.price %></span></h4>
            <% if @product.promotion_price.present? %>
            <h4 class="text-secondary">Promotion price: <span class="text-danger"><%= number_to_currency @product.promotion_price %></span></h4>
            <% end %>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <div>
              <h4 class="text-primary">Specifications</h4>
              <table>
                  <tbody><tr>
                    <td><b class="text-success">Os</b></td>
                    <td>:</td>
                    <td><%= @product.os %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Cpu</b></td>
                    <td>:</td>
                    <td><%= @product.cpu %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Ram</b></td>
                    <td>:</td>
                    <td><%= @product.ram %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Card</b></td>
                    <td>:</td>
                    <td><%= @product.card %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Hard Drive</b></td>
                    <td>:</td>
                    <td><%= @product.hard_driver %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Weigth</b></td>
                    <td>:</td>
                    <td><%= @product.weight %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Screens</b></td>
                    <td>:</td>
                    <td><%= @product.screens %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Pin</b></td>
                    <td>:</td>
                    <td><%= @product.pin %></td>
                  </tr>
                  <tr>
                    <td><b class="text-success">Other feature</b></td>
                    <td>:</td>
                    <td><%= @product.other_features %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="action">
              <a class="addcart btn btn-warning btn-lg" data-id="<%= @product.id %>"><%= t "button.add_to_cart" %></a>
              <button class="like btn btn-default" type="button">View full specifications</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default description_detail">
            <div class="panel-body">
              <h4>Highlights</h4><p><b><%= t ".date" %></b><%= day_format %></p>
                <p><%= @product.description %></p>
            </div>
          </div>
        </div>
        <!-- the comment box -->
        <div class="well">
          <h4>
            <i class="fa fa-paper-plane-o"><%= t "leaver" %></i>
          </h4>
          <% if logged_in? %>
            <div class="form-group">
              <%= render partial: "comments/form_comment",
                locals:{url: comments_path, comment: @comment, product: @product} %>
            </div>
          <% else %>
            <div class="form-group"></div>
          <% end %>
          <!-- the comments -->
          <div class="form-group">
            <h4>
              <%= t "count_comment" %>
            </h4>
            <%= render @comments %>
            <div>

            <%= will_paginate @comments %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
