<section class="product-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="product-image">
          <%= image_tag @product.picture, alt: @product.picture, size: Settings.size.product_detail %>
        </div>
        <div class="product-ratting"></div>
        <div class="product-comment"></div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="product-name">
          <h3><%= @product.name %></h3>
          <div class="category">
            <%= link_to @product.category_name, "#" %>
          </div>
        </div>
        <div class="product-description">
          <%= @product.description %>
        </div>
        <div class="product-price">
          <h3><%= number_to_currency @product.price %></h3>
        </div>
        <div class="product-add-to-cart">
          <a class="addcart btn btn-warning btn-lg" data-id="<%= @product.id %>"><%= t "button.add_to_cart" %></a>
        </div>
      </div>
    </div>
    <!-- the comment box -->
    <div class="well">
      <h4>
        <i class="fa fa-paper-plane-o"></i><%= t "leaver" %>
      </h4>
     <div class="form-group">
        <%= render partial: "comments/form_comment",
          locals:{url: comments_path, comment: @comment, product: @product} %>
      </div>
      <!-- the comments -->
      <div class="form-group">
        <%= render @comments %>
        <div>
        <%= will_paginate @comments %>
        </div>
      </div>
    </div>
  </div>
</section>
