<section class="product-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="product-image">
          <%= image_tag @product.picture, alt: @product.picture, size: Settings.size.product_detail %>
        </div>
        <div class="product-ratting"></div>
        <div class="product-comment"></div>
      </div>
      <div class="col-md-6">
        <div class="product-name">
          <h3><%= @product.name %></h3>
          <div class="category">
            <%= link_to @product.category_name, "#" %>
          </div>
        </div>
        <div class="product-description">
          <%= @product.description %>
        </div>
        <div class="product-price">
          <h3><%= number_to_currency @product.price %></h3>
        </div>
        <div class="product-add-to-cart">
          <%= link_to "#", class: "btn btn-warning btn-lg", role: :button do %>
            <%= image_tag "cart.png" %>
            <span><%= t "button.add_to_cart" %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
