<div class="container">
  <div class="col-sm-6">
    <div class="logo">
      <%= link_to image_tag("logo.png", alt: t("alt.logo"),
        class: "img-responsive"), root_path %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= render "shared/form_search" %>
  </div>
</div>
<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t("home"), root_path, class: "glyphicon glyphicon-home" %></li>
          <li><%= link_to t("help"), "#", class: "glyphicon" %></li>
          <li class="categories">
          <a href="#" class="dropdown-toggle categories" data-toggle="dropdown"><%= t "categories" %><b class="caret"></b></a>
            <ul class="dropdown-menu multi-level">
            <% @categories.each do |f| %>
              <% if f.parent_id == 0 %>
                <li class="dropdown-submenu" value="<%= f.id %>">
                  <a href="#"><%= f.name %></a>
                    <ul class="dropdown-menu">
                      <% @categories.each do |child| %>
                          <% if child.parent_id == f.id %>
                            <li class="dropdown-submenu">
                              <a href="#"><%= child.name %></a>
                               <ul class="bg-info" >
                                <% @categories.each do |item| %>
                                    <% if item.parent_id == child.id %>
                                      <li class="child"><a href="#"><%= item.name %></a></li>
                                    <% end %>
                                <% end %>
                               </ul>
                            </li>
                          <% end %>
                      <% end %>
                    </ul>
                </li>
              <% end %>
            <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to t("order"), viewcart_carts_path, class: "glyphicon glyphicon-shopping-cart" %>
            </li>
            <li class="right_to ">
              <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                <b class="glyphicon glyphicon-user"></b><%= t "account" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("profile"), current_user, class: "glyphicon glyphicon-user" %></li>
                <li>
                  <%= link_to t("mycart"), orders_path, class: "glyphicon" %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("log_out"), logout_path, method: :delete,
                    class: "glyphicon glyphicon-log-in" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to t("signup"), signup_path,class: "glyphicon glyphicon-log-in" %>
            </li>
            <li>
              <%= link_to t("login"), login_path,class: "glyphicon glyphicon-log-in" %>
            </li>
          <% end %>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
